.lone {
  width: 100vw;
  height: 70vh;
  position: absolute;
  background-image: linear-gradient(to left top, rgb(76, 76, 247), purple);
}
.overlay {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;

  height: 70vh;
  text-align: center;
}
.bagone {
  margin-left: 480px;
  margin-top: 150px;
  height: 30vh;
  width: 50vw;

  display: flex;
  flex-direction: row;
  
}
.bagone h1{
    color: azure;
    font-size: 70px;
}
.bagone h1 span{
    color: azure;
    font-size: 90px;
    color:orange;
}
.bagone .text p{
    color: azure;
    font-size: 40px;
    color:orange;
}