<div class="three">
  <div class="top">
    <div class="text2">
      <p>
        Designed and built with all the love in the world by the Bootstrap team
        with the help of our contributors. Code licensed MIT, docs CC BY 3.0.
        Currently v5.0.2.
      </p>
    </div>
    <table class="table table-transparent table-borderless">
      <thead>
        <tr>
          <th scope="col">links</th>
          <th scope="col">projects</th>
          <th scope="col">guides</th>
          <th scope="col">community</th>
          <th scope="col">community</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">home</td>
          <td>geting started</td>
          <td>repositories</td>
          <td>issues</td>
        </tr>
        <tr>
          <td scope="row">docs</td>
          <td>Starter template</td>
          <td>profile pic</td>
          <td>discusion</td>
        </tr>
        <tr>
          <td scope="row">docs</td>
          <td>Starter template</td>
          <td>profile pic</td>
          <td>discusion</td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
