<div class="three">

    <div class="top">
        <table class="table table-transparent table-borderless ">
            <thead>
              <tr>
                <th scope="col">links</th>
                <th scope="col">projects</th>
                <th scope="col">guides</th>
                <th scope="col">community</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">home</th>
                <td>geting started</td>
                <td>repositories</td>
                <td>issues</td>
              </tr>
              <tr>
                <th scope="row">docs</th>
                <td>Starter template</td>
                <td>profile pic</td>
                <td>discusion</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        
        
    </div>

</div>
