.three{
    width: 100vw;
    height: 40vh;
    position: relative;
    background-image: linear-gradient(to left top, rgb(7, 7, 54), rgb(50, 6, 50));  
}
table{
    color: azure;
    font-size: 20px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.text2{
    color: azure;
    text-align: center;
    margin-top: 40px;
    border: solid 2px white;
    height: 200px;
    width: 700px;
    font-size: 20px;

}