<div class="three">
  <div class="top">
    <div class="text2">
        <div class="box1">
            <img src="../../assets/images/lion.png" alt="" height="100px" width="100px">
            <h4>LionGit</h4>
        </div>
      
      <p>
        Designed and built with all the love in the world by the Bootstrap team
        with the help of our contributors. Code licensed MIT, docs CC BY 3.0.
        Currently v5.0.2.
      </p>
    </div>
    <table class="table table-transparent table-borderless">
      <thead>
        <tr>
          <th scope="col">links</th>
          <th scope="col">projects</th>
          <th scope="col">guides</th>
          <th scope="col">community</th>
          <th scope="col">contacts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">home</td>
          <td>geting started</td>
          <td>repositories</td>
          <td>issues</td>
          <td>facebook</td>
        </tr>
        <tr>
          <td scope="row">docs</td>
          <td>Starter template</td>
          <td>profile pic</td>
          <td>discusion</td>
          <td>whatsapp</td>
        </tr>
        <tr>
          <td scope="row">docs</td>
          <td>Starter template</td>
          <td>profile pic</td>
          <td>discusion</td>
          <td>linkedIn</td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td>instagram</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
